<h1>Program Details</h1>
show
  <div class="span8">
      <h3><%= @program.name %></h3>
      <ul class="microposts">
      	<li><strong>Address:</strong></li>
        <li><%= @program.street %></li>
        <li><%= @program.city %>, <%= @program.state %>, <%= @program.country %></li>
        <li><strong>Description: </strong></li>
        <li><%= simple_format(@program.description) %></li>
        <li><strong>More Info/Contact:</strong></li>
        <li>Homepage:  <%= @program.homepage %></li>
        <li>Email:     <%= @program.email %></li>
        <li>Twitter:   <%= @program.twitter %></li>
        <li>Facebook:  <%= @program.facebook %></li>
        <li>Meetup:    <%= @program.meetup %></li>
        <li>Phone #1:  <%= @program.phone1 %></li>
        <li>Phone #2:  <%= @program.phone2 %></li>
      </ul>
			<% if signed_in? and current_user.id  == @program.user_id %>
	      <%= link_to "Delete", @program, method: :delete,
	                                    data: { confirm: "Delete: You sure? Cannot undo a delete." } %> | 
	      <%= link_to "Edit", edit_program_path %>
        <%= link_to "Map", programs_map_path(@program) %>


      <% end %>
  </div>
